<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="categories"></div>

    <script>
        function displayCategories(data, element) {
            var list = $('<ul>');
            data.forEach(function(item) {
                var listItem = $('<li>');
                listItem.text(item.name);
                if (item.children.length > 0) {
                    displayCategories(item.children, listItem);
                }
                list.append(listItem);
            });
            element.append(list);
        }

        $(document).ready(function() {
            $.ajax({
                url: '/',
                dataType: 'json',
                success: function(data) {
                    var parsedData = JSON.parse(JSON.stringify(data));
                    displayCategories([parsedData], $('#categories'));
                }
            });
        });
    </script>
</body>
</html>
