<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <ul id="categoryList">
        {% for category in categories %}
            <li>
                <button class="categoryButton" data-id="{{ forloop.counter }}">{{ category }}</button>
            </li>
        {% endfor %}
    </ul>
    <ul id="childrenList"></ul>

    <script>
        $(document).ready(function(){
            $(".categoryButton").click(function(){
                var categoryId = $(this).data("id");
                $.post("/get_children_nodes", { microcategory_id: categoryId }, function(data){
                    $("#childrenList").empty();
                    data.children.forEach(function(child){
                        $("#childrenList").append("<li>" + child + "</li>");
                    });
                });
            });
        });
    </script>
</body>
</html>
