<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="categories"></div>

    <script>
        function getCategoriesChildren(id) {
            $.get('/get-categories-children', { id: id }, function(data) {
                var list = $('<ul>');
                data.forEach(function(item) {
                    var listItem = $('<li>');
                    listItem.text(item.name);
                    listItem.click(function() {
                        getCategoriesChildren(item.id);
                    });
                    list.append(listItem);
                });
                $('#categories').html(list);
            });
        }

        $(document).ready(function() {
            getCategoriesChildren(1);
        });
    </script>
</body>
</html>
